/* Body Styling */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, blue, aqua, white, #39fb03);
    background-size: 400% 400%;
    animation: bodyAnimation 15s alternate infinite;
    font-family: sans-serif;
    text-align: center;
}

/* Body Animation */
@keyframes bodyAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Container Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    max-width: 300px;
    height: 15vh;
    margin: 40px auto;
    background: linear-gradient(-45deg, #ba1f1f, #c313eb, #3bf711, #000000, #1be3f2);
    background-size: 400% 400%;
    animation: containerAnimation 15s ease infinite;
}

/* Container Animation */
@keyframes containerAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Button Styling */
button {
    border: 1px solid #09f3df;
    border-radius: 10px;
    background: radial-gradient(circle, #07f8e8, #fff, blue);
    background-size: 200% 200%;
    padding: 10px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    animation: buttonAnimation 3s infinite ease-in-out;
}

/* Button Animation */
@keyframes buttonAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
